/* Add CSS styling here */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;
/* font: inherit; */
vertical-align: baseline;  
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    max-width:100%;
}


/* Header */
header {
    background: grey;
    height: 20vh;
}

h1 {
    padding: 2% 1%;
    color: white;
    font-size: 3rem
}

h2 {
    padding: 2%;
    font-size: 3.2rem;
    width: 90%;
    margin: 0 auto;
}

h3 {
    padding: 3%;
    font-size: 2.4rem;
}

nav a {
    text-decoration: none;
    border: 2px solid black;
    padding: .5%;
    background: white;
    color: black;
    border-radius: 10px;
    width: 5%;
    margin: 1%;
}


nav a:hover {
    background-color: black;
    color: white;
}

.header {
    padding: 20px
}



#home {
    background: black;
    color: white;
}

#home:hover {
    background: white;
    color: black;
}

/* Content */

p {
    padding: 3%;
    font-size: 2.4rem;
    width: 90%;
    margin: 0 auto;
}

.head {
    margin-bottom: 40px;
    display: flex;
}

.head img {
    width: 50%
}

.text {
    width: 90%;
    margin: 0 auto;
}

.button {
    background: #4169E1;
    color: white;
    padding: 2% 3%;
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 10px;
    margin: 2% 8%;
}

.container {
    display: flex;
}

.one, .two, .three, .four {
    height: 100%;
    width: 100%;
    padding: 2%
}

.one {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.two {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.three {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.four {
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* Footer */
footer {
    background: grey;
    height: 30vh;
    text-align: center;
}

footer a {
    display: flex;
    align-items: center;
}

footer h2 {
    color: white;
}

#foot-button {
    background: #4169E1;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 auto;
    padding: 1%; 
}

button a {
    text-decoration: none;
    color: white;
}

.fa {
    padding: 1%;
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    margin: 5rem;
    border-radius: 0%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3b5998;
    color: white;
    margin: 1rem;
}

.fa-twitter {
    background: #55acee;
    color: white;
    margin: 1rem;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    margin: 1rem;
}

@media(max-width:800px){
    header {
        height:15vh
    }
    .head {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    p {
        font-size: 2rem;
    }

    .head img {
        width:100%
    }

    .container {
        display:flex;
        flex-direction: column;
    }
}

@media(max-width:400px){
    header {
        height:10vh
    }

    p {
        font-size: 2rem;
    }
}
