html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
/* margin: 0;  
padding: 0;  
border: 0;  
/* font-size: 100%;   */
/* font: inherit;   */
vertical-align: baseline;  
}

*{
    box-sizing: border-box;
    /* padding: 0px; */
    margin:0;
    max-width:100%;
}

body {
    width: 100%;
    margin: 0 auto;
}

/* Header */
header {
    background: grey;
    height: 15vh;
}

h1 {
    padding: 20px 20px;
    color: white;
}

h2 {
    padding: 20px;
}

h3 {
    padding: 20px;
}

nav {
    text-align: center;
    padding-top: 45px;
}

nav a {
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    background: white;
    color: black;
    margin: 40px 10px;
    border-radius: 10px;
}

nav a:hover {
    background-color: black;
    color: white;
}

.header {
    padding: 20px
}

.head {
    margin-bottom: 40px;
}

.head img {
    width: 50%
}

#projects {
    background: black;
    color: white;
}

#projects:hover {
    background: white;
    color: black;
}

/* Content */

.head, p {
    padding: 30px;
    font-size: 120%;
    width: 90%;
    margin: 0 auto;
    text-align: justify;
}



.button {
    background: #4169E1;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

.one, .two, .three, .four {
    height: 50%;
    width: 50%;
    padding: 20px;
    margin: 0 auto;
}

.one {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.two {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.three {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.four {
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* Footer */
footer {
    background: grey;
    height: 25vh;
    text-align: center;
}

a {
    margin: 20px 10px;
}

footer h2 {
    color: white;
}

#foot-button {
    border: 2px solid white;
    color: white; 
}

button a {
    text-decoration: none;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-twitter {
    background: #55acee;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}